<form action="<%= locals.formAction ?? '' %>" method="dialog" onsubmit="onSubmit(event, createFolder)" class="form-create-folder" data-form-type="folder">
  <h2>New Folder</h2>
  <ul>
    <li class="form-item">
      <label for="folder_name"></label>
      <input type="text" name="folder_name" id="folder_name" oninput="name_onInput(event)" value="<%= locals.inputs?.folder_name %>" placeholder="Folder name">
      <% if (locals.errors?.folder_name) { %>
        <p class="input-error active-error"><%= errors?.folder_name.msg %></p>
      <% } %>
    </li>
    <li class="form-item">
      <label for="name">Enter your name</label>
      <input name="name" id="name" type="text" autocomplete="off" placeholder="Enter your name"  value="<%= locals.inputs?.name %>">
    </li>
  </ul>
  <div class="form-controls">
    <button type="button" onclick="closeDialog(event)" class="btn-cancel">Cancel</button>
    <button type="submit" <%= locals.inputs?.folder_name ? "" : "disabled" %>>Create</button>
  </div>
</form>