<nav class="drive-path">
  <ul>
    <% if (!locals.public) { %>
      <li>
        <a href="/drive">Drive</a>
        <% if (locals.drivePathFolders?.length > 0) { %>
            <span class="chevron">
              <%- include('../../public/assets/icons/chevron_right.svg') %>
            </span>
        <% } %>
      </li>
    <% } %>
    
    <% if (locals.drivePathFolders) { %>
      <% drivePathFolders.forEach((folder, i) => { %>
        <li>
          <a href="<%= baseURL %>/<%= folder.id %>"><%= folder.name %></a>
          <% if (i !== (drivePathFolders.length - 1)) { %>
            <span class="chevron">
              <%- include('../../public/assets/icons/chevron_right.svg') %>
            </span>
          <% } %>
        </li>
      <% }) %> 
  <% } %>
  </ul>
</nav>

<%# Need to consider if locals.public is defined %>
<%# Is there another way to include and exclude chevron_right.svg? %>