<article class="file-details">
  <ul>
    <li>
      <span>Filename:</span>
      <span><%= file.name %></span>
    </li>
    <li>
      <span>Size:</span>
      <span><%= utils.formatBytes(file.size) %></span>
    </li>
    <li>
      <span>Created at:</span>
      <span>"file.createdAt"</span>
      <span><%= file.createdAt %></span>
      <span>"file.createdAt.toISOString()"</span>
      <span><%= file.createdAt.toISOString() %></span>
      <span>"new Date(file.createdAt.toISOString()).toLocaleString()"</span>
      <span><%= new Date(file.createdAt.toISOString()).toLocaleString() %></span>
      <span class="created-at"><%= new Date(file.createdAt).toLocaleString() %></span>
    </li>
  </ul>
</article>