<li data-item-id="<%= folder.id %>"">
  <a href="/drive/folder/<%= folder.id %>">
    <span><%- include('../../public/assets/icons/folder.svg') %></span>
    <span><%= folder.name %></span>
  </a>
  <button type="button" onclick="openDialog(event)" data-url="form/folder/delete/<%= folder.id %>"  data-form-action="/drive/folder/<%= folder.id %>">
    <%- include('../../public/assets/icons/delete.svg') %>
  </button>
  <button type="button" onclick="openDialog(event)" data-url="form/folder/edit/<%= folder.id %>" data-form-action="/drive/folder/<%= folder.id %>">Rename</button>
</li>