<li class="list-item" data-item-id="<%= folder.id %>"">
  <a href="<%= baseURL %><%= folder.id %>">
    <span><%- include('../../public/assets/icons/folder.svg') %></span>
    <span class="foldername"><%= folder.name %></span>
  </a>

  <% if(!locals.public) { %>
    <div class="list-item-controls">
      <button type="button" onclick="openDialog(event)" data-url="folder/<%= folder.id %>/controls" data-open-controls="true">
        <%- include('../../public/assets/icons/more_vert.svg') %>
      </button>
    </div>
  <% } %>
</li>