<li class="list-item" data-item-id="<%= file.id %>">
  <p>
    <span><%- include('../../public/assets/icons/file.svg') %></span>
    <span class="filename"><%= file.name %></span>
  </p>

  <div class="list-item-controls">
    <button type="button" onclick="openDialog(event)" data-url="file/<%= file.id %>/controls" data-open-controls="true">
      <%- include('../../public/assets/icons/more_vert.svg') %>
    </button>

    <!-- <div class="controls-more">
      <% if(!locals.public) { %>
        <button type="button" onclick="openDialog(event)" data-url="form/file/delete/<%= file.id %>" data-form-action="/drive/file/<%= file.id %>">
          <%- include('../../public/assets/icons/delete.svg') %>
          <span>Delete</span>
        </button>

        <button type="button" onclick="openDialog(event)" data-url="form/file/edit/<%= file.id %>" data-form-action="/drive/file/<%= locals.fileID ?? file.id %>">
          <%- include('../../public/assets/icons/edit.svg') %>
        </button>
        <span>Edit</span>
      <% } %>
      
      <button type="button" onClick="openDialog(event)" data-url="/file/details/<%= file.id %>">
        <%- include('../../public/assets/icons/info.svg') %>
        <span>File information</span>
      </button> -->

      <!-- <button type="button" onClick="downloadFile(event)" data-url="drive/download/file/<%= file.id %>">Download</button> -->
      
      <!-- <a href="<%= file.url %>?download" download="<%= file.name %>">
        <%- include('../../public/assets/icons/download.svg') %>
        <span>Download</span>
      </a>
    </div> -->
  </div>
</li>