<div class="controls-more">
  <% if(!locals.public) { %>
    <button type="button" onclick="openDialog(event)" data-url="form/<%= type %>/delete/<%= item.id %>" data-form-action="/drive/<%= type %>/<%= item.id %>">
      <%- include('../../public/assets/icons/delete.svg') %>
      <span>Delete</span>
    </button>

    <button type="button" onclick="openDialog(event)" data-url="form/<%= type %>/edit/<%= item.id %>" data-form-action="/drive/<%= type %>/<%= item.id %>">
      <%- include('../../public/assets/icons/edit.svg') %>
      <span>Edit</span>
    </button>

    <% if (item.subFolders) { %>
      <button type="button" onclick="openDialog(event)" data-url="form/folder/share/<%= item.id %>" data-form-action="/share/<%= item.id %>">
        <%- include('../../public/assets/icons/share.svg') %>
        <span>Share</span>
      </button>
    <% } %>
  <% } %>

  <% if (!item.subFolders) { %>
    <button type="button" onClick="openDialog(event)" data-url="/file/details/<%= item.id %>">
      <%- include('../../public/assets/icons/info.svg') %>
      <span>File information</span>
    </button>

    <a href="<%= item.url %>?download" download="<%= item.name %>">
      <%- include('../../public/assets/icons/download.svg') %>
      <span>Download</span>
    </a>
  <% } %>

</div>