<!DOCTYPE html>
<html lang="en">
  <%- include('./head', { title: "Dashboard" }) %>
  <body>
    <%- include('./header') %>
    <main>
      <section id="dashboard">
       <h2>Dashboard</h2>
       <%- include('./uploadForm') %>
       <button onclick="openDialog(event)">File Upload</button>
       <button onclick="openDialog(event)">New Folder</button>
      </section>
      <%- include('./addFolderForm') %>
    </main>
    <%- include('./footer') %>
  </body>
</html>
