<!DOCTYPE html>
<html lang="en">
  <%- include('./head', { title: "Drive" }) %>
  <body>
    <%- include('./header') %>
    <main>
      <section id="drive">
        <h2>Drive</h2>
        <%- include('./controls') %>
      
        <% if (currentUser.folders.length > 0) { %>
          <ul class="folders">
            <% currentUser.folders.forEach((folder) => { %>
              <%- include('./itemFolder', { folder }) %>
            <% }) %>
          </ul>
        <% } %>

        <% if (currentUser.files.length > 0) { %>
          <ul class="files">
            <% currentUser.files.forEach((file) => { %>
              <% if (!file.folderId) { %>
                <%- include('./itemFile', { file }) %>
              <% } %>
            <% }) %>
          </ul>
        <% } %>
      </section>

      <dialog onclose="onCloseHandler()" onclick="closeDialog(event)"></dialog>
    </main>
    <%- include('./footer') %>
  </body>
</html>
