<!DOCTYPE html>
<html lang="en">
  <%- include('./head', { title: "Folder" }) %>
  <body>
    <%- include('./header') %>
    <main>
      <section id="drive">
        <nav>
          <ul>
            <li>
              <a href="/drive">Drive</a>
            </li>
            <% folders.forEach((folder) => { %>
              <li>
                <a href="/drive/folder/<%= folder.id %>"><%= folder.name %></a>
              </li>
            <% }) %>
          </ul>
        </nav>

        <% if(!locals.public) { %>
          <%- include('./controls') %>
        <% } %>

        <% if (folder.files.length > 0) { %>
          <ul class="files">
            <% folder.files.forEach((file) => { %>
              <%- include('./itemFile', { file }) %>
            <% }) %>
          </ul>
        <% } %>

        <% if (folder.subFolders.length > 0) { %>
          <ul class="folders">
            <% folder.subFolders.forEach((folder) => { %>
              <%- include('./itemFolder', { folder }) %>
            <% }) %>
          </ul>
        <% } %>
      </section>

      <dialog onclose="onCloseHandler()" onclick="closeDialog(event)"></dialog>
    </main>
    <%- include('./footer') %>
  </body>
</html>
