<!DOCTYPE html>
<html lang="en">
  <%- include('./head', { title: "Folder" }) %>
  <body>
    <%- include('./header') %>
    <main>
      <section id="drive">
        <%- include('./drivePathNavbar') %>

        <% if(!locals.public) { %>
          <%- include('./controls') %>
        <% } %>

        <%- include('./folders') %>
        <%- include('./files') %>

      </section>

      <dialog onclose="onCloseHandler()" onclick="closeDialog(event)"></dialog>
    </main>
    <%- include('./footer') %>
  </body>
</html>
