<!DOCTYPE html>
<html lang="en">
  <%- include('./head', { title: "Folder" }) %>
  <body>
    <%- include('./header') %>
    <main>
      <section id="drive">
        <h2><%= folder.name %></h2>
        <%- include('./controls') %>

        <% if (folder.files.length > 0) { %>
          <ul class="files">
            <% folder.files.forEach((file) => { %>
              <%- include('./itemFile', { file }) %>
            <% }) %>
          </ul>
        <% } %>
      </section>

      <dialog onclose="onCloseHandler()" onclick="closeDialog(event)"></dialog>
    </main>
    <%- include('./footer') %>
  </body>
</html>
