<!DOCTYPE html>
<html lang="en">
  <%- include('./head', { title: "Home" }) %>
  <body>
    <%- include('./header') %>
    <main>
      <section id="home">
        <article>
          <h2>Start creating, collecting, and sharing</h2>
          <%- include('../../public/assets/icons/folder_files.svg') %>
        </article>

        <article>
          <div>
            <h2>Upload files</h2>
            <%- include('../../public/assets/icons/uploading.svg') %>  
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras egestas tempor velit eu consectetur. Nulla euismod porttitor dolor, at tempus purus hendrerit vitae. Vestibulum sit amet erat vel orci elementum euismod. Maecenas ac nunc urna. Vivamus pharetra molestie magna, quis pharetra ligula fringilla sit amet.</p>
        </article>

        <article>
          <h2>Share folders and customize duration</h2>
          <%- include('../../public/assets/icons/share_link.svg') %>  
        </article>

        <article>
          <div>
            <h2>Download files with a single click</h2>
            <%- include('../../public/assets/icons/person_download.svg') %>  
          </div>
          <p>Etiam sed aliquam sapien. Morbi fermentum ipsum eget bibendum accumsan. Nam vestibulum consectetur malesuada. Morbi cursus dui at leo eleifend consectetur. Duis in ornare lorem, et efficitur lectus. Praesent consectetur elementum leo, vitae aliquam odio fermentum a. Sed quis eleifend velit. Aliquam a feugiat erat. Sed eget aliquet felis, ac lobortis lorem. Ut sit amet nulla nisi.</p>
          
        </article>
      </section>
    </main>
    <%- include('./footer') %>
  </body>
</html>
