<form action="<%= locals.formAction ?? '' %>" method="dialog" onsubmit="onSubmit(event, editItem)" onclick="stopPropagation(event)" class="form-edit-folder" data-item-id="<%= locals.folderID ?? folder.id %>">
  <h2>Rename</h2>
  <ul>
    <li class="form-item">
      <label for="folder_name"></label>
      <input type="text" name="folder_name" id="folder_name" oninput="name_onInput(event)"  value="<%= locals.folder?.name || locals.errors?.folder_name.value %>">
      <% if (locals.errors?.folder_name) { %>
        <p class="input-error active-error"><%= errors.folder_name.msg %></p>
      <% } %>
    </li>
    <li class="form-item">
      <label for="name">Enter your name</label>
      <input name="name" id="name" type="text" autocomplete="off" placeholder="Enter your name" value="<%= locals.inputs?.name %>">
    </li>
  </ul>
  <div class="form-controls">
    <button type="button" onclick="closeDialog(event)" class="btn-cancel">Cancel</button>
    <button type="submit">Ok</button>
  </div>
  
</form>